/* Colors */

:root {
    --shr_primary_white: #fff;
    --shr_primary_offwhite: #f8f8f6;
    --shr_primary_blue_dk2: #133252;
    --shr_primary_blue_dk1: #1e5083;
    --shr_primary_blue_default: #296db3;
    --shr_primary_blue_lt1: #9dbcdc;
    --shr_primary_blue_lt2: #d8e4f1;
    --shr_primary_blue_lt3: #f4f7fb;
    --shr_primary_green_dk2: #135216;
    --shr_primary_green_dk1: #1e8323;
    --shr_primary_green_default: #29b32f;
    --shr_primary_green_lt1: #9ddca0;
    --shr_primary_green_lt2: #d8f1d9;
    --shr_primary_green_lt3: #f4fbf4;
    --shr_primary_orange_dk2: #715511;
    --shr_primary_orange_dk1: #b4881b;
    --shr_primary_orange_default: #F79B24;
    --shr_primary_orange_lt1: #fbdf9b;
    --shr_primary_orange_lt2: #fdf2d7;
    --shr_primary_orange_lt3: #fdf9f5;
    --shr_primary_black_dk2: #202020;
    --shr_primary_black_dk1: #333333;
    --shr_primary_black_default: #454545;
    --shr_primary_black_lt1: #aaaaaa;
    --shr_primary_black_lt2: #dddddd;
    --shr_primary_black_lt3: #f5f5f5;
    --shr_primary_red_dk2: #5c1414;
    --shr_primary_red_dk1: #932020;
    --shr_primary_red_default: #c92b2b;
    --shr_primary_red_lt1: #e69e9e;
    --shr_primary_red_lt2: #f5d8d8;
    --shr_primary_red_lt3: #fcf4f4;
    --shr_secondary_yellow_dk2: #686016;
    --shr_secondary_yellow_dk1: #a69923;
    --shr_secondary_yellow_default: #e4d22f;
    --shr_secondary_yellow_lt1: #f2eaa0;
    --shr_secondary_yellow_lt2: #faf6d9;
    --shr_secondary_yellow_lt3: #fdfcf4;
    --shr_secondary_purple_dk2: #460f4b;
    --shr_secondary_purple_dk1: #701778;
    --shr_secondary_purple_default: #991fa4;
    --shr_secondary_purple_lt1: #d099d5;
    --shr_secondary_purple_lt2: #ecd6ee;
    --shr_secondary_purple_lt3: #f9f3fa;
    --shr_secondary_violetblue_dk2: #1d2553;
    --shr_secondary_violetblue_dk1: #2e3b84;
    --shr_secondary_violetblue_default: #3f51b5;
    --shr_secondary_violetblue_lt1: #a7afdd;
    --shr_secondary_violetblue_lt2: #dcdff1;
    --shr_secondary_violetblue_lt3: #f5f6fb;
}

.shr_background_primary_white {
    background-color: var(--shr_background_primary_white);
}

.shr_background_primary_offwhite {
    background-color: var(--shr_primary_offwhite);
}

.shr_background_primary_blue_dk2 {
    background-color: var(--shr_primary_blue_dk2);
}

.shr_background_primary_blue_dk1 {
    background-color: var(--shr_primary_blue_dk1);
}

.shr_background_primary_blue_default {
    background-color: var(--shr_primary_blue_default);
}

.shr_background_primary_blue_lt1 {
    background-color: var(--shr_primary_blue_lt1);
}

.shr_background_primary_blue_lt2 {
    background-color: var(--shr_primary_blue_lt2);
}

.shr_background_primary_blue_lt3 {
    background-color: var(--shr_primary_blue_lt3);
}

.shr_background_primary_green_dk2 {
    background-color: var(--shr_primary_green_dk2);
}

.shr_background_primary_green_dk1 {
    background-color: var(--shr_primary_green_dk1);
}

.shr_background_primary_green_default {
    background-color: var(--shr_primary_green_default);
}

.shr_background_primary_green_lt1 {
    background-color: var(--shr_primary_green_lt1);
}

.shr_background_primary_green_lt2 {
    background-color: var(--shr_primary_green_lt2);
}

.shr_background_primary_green_lt3 {
    background-color: var(--shr_primary_green_lt3);
}

.shr_background_primary_orange_dk2 {
    background-color: var(--shr_primary_orange_dk2);
}

.shr_background_primary_orange_dk1 {
    background-color: var(--shr_primary_orange_dk1);
}

.shr_background_primary_orange_default {
    background-color: var(--shr_primary_orange_default);
}

.shr_background_primary_orange_lt1 {
    background-color: var(--shr_primary_orange_lt1);
}

.shr_background_primary_orange_lt2 {
    background-color: var(--shr_primary_orange_lt2);
}

.shr_background_primary_orange_lt3 {
    background-color: var(--shr_primary_orange_lt3);
}

.shr_background_primary_black_dk2 {
    background-color: var(--shr_primary_black_dk2);
}

.shr_background_primary_orange_dk2 {
    background-color: var(--shr_primary_orange_dk2);
}


/* Typography */

.shr_typography_display1 {
    /* Displays/D1 (58) */
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 79px;
    color: var(--shr_primary_black_default);
}

.shr_typography_display2 {
    /* Displays/D2 (54) */
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 54px;
    line-height: 74px;
    /* identical to box height */
    color: var(--shr_primary_black_default);
}

.shr_typography_display3 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    color: var(--shr_primary_black_default);
}

.shr_typography_heading1 {
    /* Headings/Desktop/H1 (48) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_heading2 {
    /* Headings/Desktop/H1 (48) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_heading3 {
    /* Headings/Desktop/H1 (48) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_heading4 {
    /* Headings/Desktop/H1 (48) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_heading5 {
    /* Headings/Desktop/H1 (48) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_heading6 {
    /* Headings/Desktop/H1 (48) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_alternateheading {
    /* Headings/Desktop/H1 (48) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_body_paragraph {
    /* Body/Paragraph (18)/Regular */
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_body_small {
    /* Body/Paragraph (18)/Regular */
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 150% */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_body_footnote {
    /* Body/Paragraph (18)/Regular */
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height, or 150% */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_body_italised {
    /* Body/Paragraph (18)/Regular */
    font-family: Avenir;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_body_paragraph_bold {
    /* Body/Paragraph (18)/Regular */
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    font-feature-settings: 'liga' off;
    color: var(--shr_primary_black_default);
}

.shr_typography_body_caption_heading {
    /* Body/CaptionHeading (15) */
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 150% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.shr_typography_navigation_headermenu {
    /* Navigation/HeaderMenu (16) */
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: left;
}

.shr_typography_wrapper>span {
    display: block;
    margin-bottom: 0.626rem;
}


/* Buttons */

.shr_button_defaultsize,
.shr_button_largesize {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 15px;
}

@media (max-width: 990px) {
    .shr_button_defaultsize,
    .shr_button_largesize {
        margin-bottom: 15px;
        width: 100%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .shr_button_defaultsize,
    .shr_button_largesize {
        transition: none;
    }
}

.shr_button_defaultsize:disabled,
.shr_button_largesize:disabled,
.shr_button_defaultsize:disabled,
.shr_button_largesize:disabled,
fieldset:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.shr_button_defaultsize {
    font-family: Avenir;
    padding: 7px 25px;
}

.shr_button_largesize {
    font-family: Avenir;
    padding: 13px 36px;
}

.shr_button_blue_filled {
    background: var(--shr_primary_blue_default);
    border: 1px solid var(--shr_primary_blue_default);
    color: var(--shr_primary_white);
}

.shr_button_blue_outline {
    background: transparent;
    border: 1px solid var(--shr_primary_blue_default);
    color: var(--shr_primary_blue_default);
}

.shr_button_blue_outline:hover,
.shr_button_blue_outline:focus,
.shr_button_blue_outline:active {
    background: transparent;
    border: 1px solid var(--shr_primary_blue_dk1);
    color: var(--shr_primary_blue_dk1);
}

.shr_button_success_filled {
    background: var(--shr_primary_green_default);
    border: 1px solid var(--shr_primary_green_default);
    color: var(--shr_primary_white);
}

.shr_button_success_filled:hover,
.shr_button_success_filled:focus,
.shr_button_success_filled:active {
    background: var(--shr_primary_green_dk1);
    border: 1px solid var(--shr_primary_green_dk1);
    color: var(--shr_primary_white);
}

.shr_button_success_outline {
    background: transparent;
    border: 1px solid var(--shr_primary_green_default);
    color: var(--shr_primary_green_default);
}

.shr_button_success_outline:hover,
.shr_button_success_outline:focus,
.shr_button_success_outline:active {
    background: transparent;
    border: 1px solid var(--shr_primary_green_dk1);
    color: var(--shr_primary_green_dk1);
}

.shr_button_alarm_filled {
    background: var(--shr_primary_red_default);
    border: 1px solid var(--shr_primary_red_default);
    color: var(--shr_primary_white);
}

.shr_button_alarm_filled:hover,
.shr_button_alarm_filled:focus,
.shr_button_alarm_filled:active {
    background: var(--shr_primary_red_dk1);
    border: 1px solid var(--shr_primary_red_dk1);
    color: var(--shr_primary_white);
}

.shr_button_alarm_outline {
    background: transparent;
    border: 1px solid #c92b2b;
    color: #c92b2b;
}

.shr_button_alarm_outline:hover,
.shr_button_alarm_outline:focus,
.shr_button_alarm_outline:active {
    background: transparent;
    border: 1px solid #932020;
    color: #932020;
}

.shr_button_dark_filled {
    background: #454545;
    border: 1px solid #454545;
    color: white;
}

.shr_button_dark_filled:hover,
.shr_button_dark_filled:focus,
.shr_button_dark_filled:active {
    background: #333333;
    border: 1px solid #333333;
    color: white;
}

.shr_button_dark_outline {
    background: transparent;
    border: 1px solid #454545;
    color: #454545;
}

.shr_button_dark_outline:hover,
.shr_button_dark_outline:focus,
.shr_button_dark_outline:active {
    background: transparent;
    border: 1px solid #333333;
    color: #454545;
}

.shr_button_amber_filled {
    background: var(--shr_primary_orange_default);
    border: 1px solid var(--shr_primary_orange_default);
    color: white;
}

.shr_button_amber_filled:hover,
.shr_button_amber_filled:focus,
.shr_button_amber_filled:active {
    background: #d07908;
    border: 1px solid #d07908;
    color: white;
}

.shr_button_amber_outline {
    background: transparent;
    border: 1px solid var(--shr_primary_orange_default);
    color: var(--shr_primary_orange_default);
}

.shr_button_amber_outline:hover,
.shr_button_amber_outline:focus,
.shr_button_amber_outline:active {
    background: transparent;
    border: 1px solid #d07908;
    color: #d07908;
}

.shr_button_white_filled {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #454545;
}

.shr_button_white_filled:hover,
.shr_button_white_filled:focus,
.shr_button_white_filled:active {
    background: #f8f8f6;
    border: 1px solid #f8f8f6;
    color: #454545;
}

.shr_button_white_outline {
    background: transparent;
    border: 1px solid #ffffff;
    color: #454545;
}

.shr_button_white_outline:hover,
.shr_button_white_outline:focus,
.shr_button_white_outline:active {
    background: transparent;
    border: 1px solid #f8f8f6;
    color: #333333;
}

.shr_button_icon {
    margin-right: 10px;
}


/* Fav Buttons */

.shr_favbuttons_wrapper {
    display: flex;
    flex-direction: row;
    /* White */
    background: #ffffff;
    /* Blue/LT2 */
    border: 1px solid #d8e4f1;
    box-sizing: border-box;
    /* Shadows/Card/Default-1 */
    box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
    border-radius: 5px;
    padding: 1.25rem 1.875rem;
    align-items: center;
    width: fit-content;
    transition: 0.25s ease-in;
}

.shr_favbuttons_wrapper:hover {
    padding: 1.875rem 1.875rem;
    box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
}

.shr_favbuttons_wrapper>div {
    margin: 0 1.25rem;
}

.shr_favbuttons_icon {
    max-width: 56px;
}

.shr_favbuttons_text {
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
}


/* List */

.shr_list_default_wrapper {
    padding: 0px;
    list-style-type: none;
}

.shr_list_default {
    content: "";
    display: inline-block;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-bottom: 15px;
    background-image: url("list_icon.svg");
}

.shr_list_with_divider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shr_list_with_divider>div>h4 {
    /* Headings/Desktop/H6 (20) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #1e5083;
    margin-bottom: 15px;
}

.shr_list_with_divider>div>p {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* Dark/Default */
    color: #454545;
    margin-bottom: 15px;
}

.shr_list_with_divider_divider {
    border: 1px solid #d8e4f1;
    margin-top: 0px;
    margin-bottom: 15px;
}

.shr_list_with__icon,
.shr_list_with__no_icon {
    display: flex;
    flex-direction: column;
}

.shr_list_with__icon_left_aligned,
.shr_list_with__no_icon_left_aligned {
    text-align: left;
}

.shr_list_with__icon_center_aligned,
.shr_list_with__no_icon_center_aligned {
    text-align: center;
}

.shr_list_with__icon_center_aligned>div:first-child {
    margin: auto;
}

.shr_list_with__no_icon>div:first-child {
    max-width: initial;
    max-height: initial;
}

.shr_list_with__icon>div:first-child {
    max-width: 6.5625rem;
    max-height: 6.5625rem;
}

.shr_list_with__icon>div:nth-child(2),
.shr_list_with__no_icon>div:first-child {
    /* Heading 4 */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.1875rem;
    font-feature-settings: "liga" off;
    /* Dark/Default */
    color: #454545;
    max-height: 2.1875rem;
    margin: 1.5625rem 0px;
}

.shr_list_with__no_icon>div:first-child {
    /* Primary/DK-1 */
    color: #1e5083;
}

.shr_list_with__icon>div:nth-child(3),
.shr_list_with__no_icon>div:nth-child(2) {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    /* Dark/Default */
    color: #454545;
}

.shr_list_with__no_icon>div:nth-child(2) {
    margin-bottom: 1.5625rem;
}


/* Spot Card */

.shr_spotcard_wrapper {
    background: #ffffff;
    /* Shadows/Card/SpotCard */
    box-shadow: 0px 15px 65px rgba(19, 50, 82, 0.075);
    border-radius: 10px;
    flex-direction: column;
    padding: 2.188rem 1.875rem 0 1.875rem;
    position: relative;
}

.shr_spotcard_wrapper>div {
    margin-bottom: 0.875rem;
}

.shr_spotcard_heading {
    /* Headings/Desktop/H4 (28) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    /* Blue/DK1 */
    color: #1e5083;
}

.shr_spotcard_paragraph {
    /* Body/Small (15) */
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 150% */
    /* Dark/Secondary text */
    color: #777777;
}

.shr_spotcard_image {
    position: relative;
    right: 3.75rem;
}

.shr_spotcard_alignleft {
    text-align: left;
}

.shr_spotcard_aligncenter,
.shr_spotcard_aligncenter>.shr_spotcard_image {
    text-align: center;
    right: initial;
}


/* Module Card */

.shr_module_card_wrapper {
    background: #f4fbf4;
    border-radius: 10px;
    padding: 0;
}

.shr_module_card_wrapper>div {
    padding: 1.875rem;
}

.shr_module_card_wrapper>div>div {
    margin-bottom: 1.25rem;
}

.shr_module_card_heading {
    /* Headings/Desktop/H4 (28) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    display: flex;
    align-items: center;
}

.shr_module_card_paragraph {
    /* Body/Small (15) */
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 150% */
    /* Dark/Dark */
    color: #454545;
}

.shr_module_card_button {
    text-align: center;
    background: #d8f1d9;
    padding: 1.25rem;
    cursor: pointer;
    font-family: Avenir;
    font-style: normal;
}

.shr_module_card_blue.shr_module_card_wrapper {
    background: var(--shr_primary_blue_lt2);
}

.shr_module_card_blue.shr_module_card_button {
    background: var(--shr_primary_blue_lt1);
}

.shr_module_card_green.shr_module_card_wrapper {
    background: var(--shr_primary_green_lt2);
}

.shr_module_card_green.shr_module_card_button {
    background: var(--shr_primary_green_lt1);
}

.shr_module_card_purple.shr_module_card_wrapper {
    background: var(--shr_primary_purple_lt2);
}

.shr_module_card_purple.shr_module_card_button {
    background: var(--shr_primary_purple_lt1);
}

.shr_module_card_orange.shr_module_card_wrapper {
    background: var(--shr_primary_orange_lt2);
}

.shr_module_card_orange.shr_module_card_button {
    background: var(--shr_primary_orange_lt1);
}

.shr_module_card_red.shr_module_card_wrapper {
    background: var(--shr_primary_red_lt2);
}

.shr_module_card_red.shr_module_card_button {
    background: var(--shr_primary_red_lt1);
}

.shr_module_card_yellow.shr_module_card_wrapper {
    background: var(--shr_primary_yellow_lt2);
}

.shr_module_card_yellow.shr_module_card_button {
    background: var(--shr_primary_yellow_lt1);
}


/* Dropdown */

.shr_simple_dropdown_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shr_simple_dropdown_dropdowncard {
    /* White */
    background: #ffffff;
    /* Shadows/Dropdown */
    box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
    border-radius: 10px;
    padding: 1.25rem 1.875rem;
    height: fit-content;
}

@media (min-width: 990px) {
    .shr_simple_dropdown_dropdowncard:not(:first-child) {
        margin-left: 10px;
    }
    .arrow_right {
        margin-left: 15px;
    }
}

.shr_simple_dropdown_dropdowncard>ul {
    list-style-type: none;
    color: var(--shr_primary_blue_default);
    padding: 0;
}

.shr_simple_dropdown_dropdowncard>ul>li {
    margin-bottom: 10px;
    cursor: pointer;
}

.shr_color_green,
.shr_dropdown_active {
    color: var(--shr_primary_green_default);
}

.shr_color_blue {
    color: var(--shr_primary_blue_default);
}

.shr_dropdown_active:hover .shr_simple_dropdown_dropdowncard_secondary {
    display: block;
}

.shr_simple_dropdown_dropdowncard_secondary {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.shr_mega_dropdown_wrapper {
    background-color: var(--shr_primary_blue_lt3);
    display: flex;
    flex-direction: column;
    padding: 30px 36px;
    box-shadow: 0px 2px 4px rgba(30, 80, 131, 0.1);
    border-radius: 5px;
    border: 1px solid var(--shr_primary_blue_lt2);
    cursor: pointer;
}

.shr_mega_dropdown_wrapper>div:not(:last-child) {
    margin-bottom: 20px;
    display: flex;
}

.shr_mega_dropdown_tag {
    justify-content: flex-end;
}

.shr_mega_dropdown_wrapper>.shr_mega_dropdown_tag>div {
    background-color: var(--shr_primary_blue_lt2);
    color: var(--shr_primary_blue_lt1);
    padding: 4px 8px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: fit-content;
    display: flex;
    border-radius: 3px;
}

.shr_mega_dropdown_heading {
    /* Headings/Desktop/H6 (20) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    /* Primary/DK-1 */
    color: #1e5083;
}

.shr_mega_dropdown_paragraph {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* or 150% */
    /* Dark/Default */
    color: #454545;
}


/* Tables */

.shr_table_bordered>table>tbody>tr {
    border-bottom: 1px solid var(--shr_primary_blue_lt2);
}

.shr_table_default>table>tbody>tr>th,
.shr_table_default>table>tbody>tr>td {
    padding: 1.563rem 1.252rem;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    /* Dark/Dark */
    color: var(--shr_primary_black_default);
}

.shr_table_default>table {
    border: 1px solid var(--shr_primary_blue_lt3);
    box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
    border-radius: 10px;
}

.shr_table_default>table>tbody>tr>th {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.shr_table_default>table>tbody>tr {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shr_table_default>table>tbody>tr>td {
    width: 50%;
    word-wrap: initial;
}

@media (max-width: 990px) {
    .shr_table_default>table>tbody>tr {
        display: flex;
        flex-direction: column;
    }
    .shr_table_default>table>tbody>tr>td {
        width: 100%;
        word-wrap: initial;
    }
}

.shr_table_striped>table>tbody>tr:nth-child(even) {
    background-color: var(--shr_primary_blue_lt3);
}


/* Pagination */

.shr_pagination_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.shr_pagination_wrapper * input {
    border: 1px solid var(--shr_primary_blue_lt1);
    max-width: 3.725rem;
}

.shr_pagination_wrapper * input:focus,
 :focus-visible {
    border: 1px solid var(--shr_primary_blue_default);
    outline: var(--shr_primary_blue_default) auto 1px;
}

@media(min-width:990px) {
    .shr_pagination_wrapper>div>div:not(:last-child) {
        margin-right: 0.925rem;
    }
}

.shr_pagination_wrapper>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.925rem;
}

@media(max-width:990px) {
    .shr_pagination_wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }
    .shr_pagination_wrapper>div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .shr_pagination_wrapper>div>div:not(:last-child) {
        margin-right: 0.925rem;
    }
    .shr_pagination_wrapper * .pagination_hr {
        transform: rotate(90deg);
    }
}

.rotate_180 {
    transform: rotate(180deg);
}


/* Backgrounds */

.shr_bg_primary_to_sunlight {
    /* Gradients/Faded/PrimaryToSunlightFaded */
    background: linear-gradient(262.47deg, #FEF9EB 11.14%, #E9F2FF 101.49%);
}

.shr_bg_primary_lt3 {
    background: var(--shr_primary_blue_lt3);
}

.shr_bg_success_to_primary {
    background: linear-gradient(267.56deg, #EFFBF2 -17.28%, #E9F2FF 70.25%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.shr_bg_success {
    background: #F4FBF4;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.shr_bg_magenta_to_primary {
    /* Gradients/Faded/MagentaToPrimaryFaded */
    background: linear-gradient(236.96deg, #F9F3FA 28.56%, #ECF4FF 90.53%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.shr_bg_dark {
    /* Dark/LT-3 */
    background: #F5F5F5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


/* Modal */

.shr_default_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10000 !important;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Modal Content */


/* Add Animation */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.shr_default_modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 5px;
}

.shr_modal_default_size {
    width: 30%;
}

.shr_modal_large_size {
    width: 50%;
}

.shr_modal_full_screen {
    width: 70%;
}

.shr_default_modal_content>div {
    padding-bottom: 30px;
}

.shr_default_modal_content>div:last-child {
    padding-bottom: 0px;
}


/* The Close Button */

.shr_default_modal_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.shr_default_modal_close:hover,
.shr_default_modal_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.headings_desktop_h6 {
    /* Headings/Desktop/H6 (20) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    /* Text Color / Primary Dark */
    color: #454545;
    margin: 0px
}

.body_paragraph_18 {
    /* Body/Paragraph (18)/Regular */
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    font-feature-settings: 'liga' off;
    /* Dark/Dark */
    color: #454545;
    margin: 0px
}

.shr_default_modal_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.shr_default_modal_header_line {
    /* Blue/LT2 */
    border: .7px solid #D8E4F1;
}

.shr_default_modal_primary_button,
.shr_default_modal_secondary_button {
    /* Blue / Blue */
    border: 1px solid #296DB3;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 25px;
    width: fit-content;
    margin-right: 30px;
}

.shr_default_modal_button_group {
    display: flex;
    flex-direction: row;
}

.shr_default_modal_primary_button {
    /* Blue/primary */
    background: #296DB3;
    color: #FFFFFF;
}

.shr_default_modal_secondary_button {
    /* Primary/Default */
    color: #296DB3;
    border: 1px solid #296DB3;
    box-sizing: border-box;
    border-radius: 5px;
}


/* Badges */

.shr_badge_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.shr_badge {
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    border-radius: 25px;
    width: fit-content;
}

.shr_badge:last-child {
    margin-right: 0px;
}

.shr_badge>span {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.shr_badge_orange {
    background: #FDE7CB;
    /* Amber/DK-2 */
    color: #8F5305;
}

.shr_badge_green {
    background: #D8F1D9;
    color: #135216;
}

.shr_badge_dark {
    color: #202020;
    background: #DDDDDD;
}

.shr_badge_red {
    background: #F5D8D8;
    color: #5C1414;
}

.shr_badge_blue {
    color: #133252;
    background: #D8E4F1;
}

.shr_badge_sunlight {
    color: #686016;
    background: #FAF6D9;
}

.shr_badge_purple {
    background: #ECD6EE;
    color: #460F4B;
}


/* Spinners */

@keyframes shr_spinner_control {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.shr_spinner_control div {
    left: 95.88px;
    top: 55.08px;
    position: absolute;
    animation: shr_spinner_control linear 1s infinite;
    background: var(--shr_primary_orange_default);
    width: 12.24px;
    height: 12.24px;
    border-radius: 0px / 0px;
    transform-origin: 6.12px 46.92px;
}

.shr_spinner_control div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.99s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(2) {
    transform: rotate(3.6deg);
    animation-delay: -0.98s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(3) {
    transform: rotate(7.2deg);
    animation-delay: -0.97s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(4) {
    transform: rotate(10.8deg);
    animation-delay: -0.96s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(5) {
    transform: rotate(14.4deg);
    animation-delay: -0.95s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(6) {
    transform: rotate(18deg);
    animation-delay: -0.94s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(7) {
    transform: rotate(21.6deg);
    animation-delay: -0.93s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(8) {
    transform: rotate(25.2deg);
    animation-delay: -0.92s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(9) {
    transform: rotate(28.8deg);
    animation-delay: -0.91s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(10) {
    transform: rotate(32.4deg);
    animation-delay: -0.9s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(11) {
    transform: rotate(36deg);
    animation-delay: -0.89s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(12) {
    transform: rotate(39.6deg);
    animation-delay: -0.88s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(13) {
    transform: rotate(43.2deg);
    animation-delay: -0.87s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(14) {
    transform: rotate(46.8deg);
    animation-delay: -0.86s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(15) {
    transform: rotate(50.4deg);
    animation-delay: -0.85s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(16) {
    transform: rotate(54deg);
    animation-delay: -0.84s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(17) {
    transform: rotate(57.6deg);
    animation-delay: -0.83s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(18) {
    transform: rotate(61.2deg);
    animation-delay: -0.82s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(19) {
    transform: rotate(64.8deg);
    animation-delay: -0.81s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(20) {
    transform: rotate(68.4deg);
    animation-delay: -0.8s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(21) {
    transform: rotate(72deg);
    animation-delay: -0.79s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(22) {
    transform: rotate(75.6deg);
    animation-delay: -0.78s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(23) {
    transform: rotate(79.2deg);
    animation-delay: -0.77s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(24) {
    transform: rotate(82.8deg);
    animation-delay: -0.76s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(25) {
    transform: rotate(86.4deg);
    animation-delay: -0.75s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(26) {
    transform: rotate(90deg);
    animation-delay: -0.74s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(27) {
    transform: rotate(93.6deg);
    animation-delay: -0.73s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(28) {
    transform: rotate(97.2deg);
    animation-delay: -0.72s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(29) {
    transform: rotate(100.8deg);
    animation-delay: -0.71s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(30) {
    transform: rotate(104.4deg);
    animation-delay: -0.7s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(31) {
    transform: rotate(108deg);
    animation-delay: -0.69s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(32) {
    transform: rotate(111.6deg);
    animation-delay: -0.68s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(33) {
    transform: rotate(115.2deg);
    animation-delay: -0.67s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(34) {
    transform: rotate(118.8deg);
    animation-delay: -0.66s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(35) {
    transform: rotate(122.4deg);
    animation-delay: -0.65s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(36) {
    transform: rotate(126deg);
    animation-delay: -0.64s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(37) {
    transform: rotate(129.6deg);
    animation-delay: -0.63s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(38) {
    transform: rotate(133.2deg);
    animation-delay: -0.62s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(39) {
    transform: rotate(136.8deg);
    animation-delay: -0.61s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(40) {
    transform: rotate(140.4deg);
    animation-delay: -0.6s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(41) {
    transform: rotate(144deg);
    animation-delay: -0.59s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(42) {
    transform: rotate(147.6deg);
    animation-delay: -0.58s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(43) {
    transform: rotate(151.2deg);
    animation-delay: -0.57s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(44) {
    transform: rotate(154.8deg);
    animation-delay: -0.56s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(45) {
    transform: rotate(158.4deg);
    animation-delay: -0.55s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(46) {
    transform: rotate(162deg);
    animation-delay: -0.54s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(47) {
    transform: rotate(165.6deg);
    animation-delay: -0.53s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(48) {
    transform: rotate(169.2deg);
    animation-delay: -0.52s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(49) {
    transform: rotate(172.8deg);
    animation-delay: -0.51s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(50) {
    transform: rotate(176.4deg);
    animation-delay: -0.5s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(51) {
    transform: rotate(180deg);
    animation-delay: -0.49s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(52) {
    transform: rotate(183.6deg);
    animation-delay: -0.48s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(53) {
    transform: rotate(187.2deg);
    animation-delay: -0.47s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(54) {
    transform: rotate(190.8deg);
    animation-delay: -0.46s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(55) {
    transform: rotate(194.4deg);
    animation-delay: -0.45s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(56) {
    transform: rotate(198deg);
    animation-delay: -0.44s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(57) {
    transform: rotate(201.6deg);
    animation-delay: -0.43s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(58) {
    transform: rotate(205.2deg);
    animation-delay: -0.42s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(59) {
    transform: rotate(208.8deg);
    animation-delay: -0.41s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(60) {
    transform: rotate(212.4deg);
    animation-delay: -0.4s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(61) {
    transform: rotate(216deg);
    animation-delay: -0.39s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(62) {
    transform: rotate(219.6deg);
    animation-delay: -0.38s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(63) {
    transform: rotate(223.2deg);
    animation-delay: -0.37s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(64) {
    transform: rotate(226.8deg);
    animation-delay: -0.36s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(65) {
    transform: rotate(230.4deg);
    animation-delay: -0.35s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(66) {
    transform: rotate(234deg);
    animation-delay: -0.34s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(67) {
    transform: rotate(237.6deg);
    animation-delay: -0.33s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(68) {
    transform: rotate(241.2deg);
    animation-delay: -0.32s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(69) {
    transform: rotate(244.8deg);
    animation-delay: -0.31s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(70) {
    transform: rotate(248.4deg);
    animation-delay: -0.3s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(71) {
    transform: rotate(252deg);
    animation-delay: -0.29s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(72) {
    transform: rotate(255.6deg);
    animation-delay: -0.28s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(73) {
    transform: rotate(259.2deg);
    animation-delay: -0.27s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(74) {
    transform: rotate(262.8deg);
    animation-delay: -0.26s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(75) {
    transform: rotate(266.4deg);
    animation-delay: -0.25s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(76) {
    transform: rotate(270deg);
    animation-delay: -0.24s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(77) {
    transform: rotate(273.6deg);
    animation-delay: -0.23s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(78) {
    transform: rotate(277.2deg);
    animation-delay: -0.22s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(79) {
    transform: rotate(280.8deg);
    animation-delay: -0.21s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(80) {
    transform: rotate(284.4deg);
    animation-delay: -0.2s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(81) {
    transform: rotate(288deg);
    animation-delay: -0.19s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(82) {
    transform: rotate(291.6deg);
    animation-delay: -0.18s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(83) {
    transform: rotate(295.2deg);
    animation-delay: -0.17s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(84) {
    transform: rotate(298.8deg);
    animation-delay: -0.16s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(85) {
    transform: rotate(302.4deg);
    animation-delay: -0.15s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(86) {
    transform: rotate(306deg);
    animation-delay: -0.14s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(87) {
    transform: rotate(309.6deg);
    animation-delay: -0.13s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(88) {
    transform: rotate(313.2deg);
    animation-delay: -0.12s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(89) {
    transform: rotate(316.8deg);
    animation-delay: -0.11s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(90) {
    transform: rotate(320.4deg);
    animation-delay: -0.1s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(91) {
    transform: rotate(324deg);
    animation-delay: -0.09s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(92) {
    transform: rotate(327.6deg);
    animation-delay: -0.08s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(93) {
    transform: rotate(331.2deg);
    animation-delay: -0.07s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(94) {
    transform: rotate(334.8deg);
    animation-delay: -0.06s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(95) {
    transform: rotate(338.4deg);
    animation-delay: -0.05s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(96) {
    transform: rotate(342deg);
    animation-delay: -0.04s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(97) {
    transform: rotate(345.6deg);
    animation-delay: -0.03s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(98) {
    transform: rotate(349.2deg);
    animation-delay: -0.02s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(99) {
    transform: rotate(352.8deg);
    animation-delay: -0.01s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_control div:nth-child(100) {
    transform: rotate(356.4deg);
    animation-delay: 0s;
    background: var(--shr_primary_orange_default);
}

.shr_spinner_wrapper {
    width: 204px;
    height: 204px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
}

.shr_spinner_control {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.shr_spinner_control div {
    box-sizing: content-box;
}


/*Testimonial*/

.testimonial_card_shr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    background: #FFFFFF;
    /* Blue/LT2 */
    border: 1px solid #D8E4F1;
    box-sizing: border-box;
    /* Shadows/Card/Testimonials */
    box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
    border-radius: 10px;
}

.testimonial_card_shr>div:first-child,
.testimonial_card_shr>div:nth-child(2) {
    padding-bottom: 50px
}

.testimonial_card_shr>div:first-child {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    /* or 183% */
    /* Dark/Dark */
    color: #454545;
}

.testimonial_card_shr>div:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.testimonial_card_shr>div:nth-child(2)>div {
    font-family: Avenir;
    font-size: 18px;
    line-height: 33px;
    /* or 183% */
    /* Dark/Dark */
    color: #454545;
}

.shr_testimonial_author_detail {
    display: block;
}

.shr_testimonial_author_picture {
    padding-right: 28px;
}

@media (min-width:990px) {
    .shr_testimonial_author_detail {
        margin-left: 15px;
    }
}


/* Tooltip */

div.shr_tooltip_text {
    position: relative;
}

div.shr_tooltip_text span {
    display: none;
    position: absolute;
    top: -5px;
    left: 60px;
    width: 15.625rem;
    padding: 0.625rem;
    z-index: 100;
    background: var(--shr_primary_black_default);
    color: #fff;
    -moz-border-radius: 0.625rem;
    /* this works only in camino/firefox */
    -webkit-border-radius: 0.625rem;
    /* this is just for Safari */
}

div.shr_tooltip_text span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--shr_primary_black_default);
    left: -8px;
    top: 7px;
}

div:hover.shr_tooltip_text {
    font-size: 100%;
    /* this is just for IE */
}

div:hover.shr_tooltip_text span {
    display: block;
}


/* Screen Art */

.shr_screen_art {
    min-height: 12.5rem;
    /* White */
    background: #FFFFFF;
    /* Primary/LT-2 */
    border: 1px solid #D8E4F1;
    box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
    border-radius: 0.625rem;
}


/* Card Hero Banner */

.custom_flex {
    display: flex;
    flex-direction: row;
}

@media(max-width: 990px) {
    .custom_flex {
        display: flex;
        flex-direction: column;
    }
    .left_content,
    .right_content {
        height: auto !important;
    }
    .left_content {
        padding: 40px;
    }
}

.card_background {
    background: #FFFFFF;
    /* Shadows/Card/CardHero */
    box-shadow: 0px 15px 45px rgba(19, 50, 82, 0.05);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.left_content,
.right_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.right_content {
    height: 500px;
}

.right_content>div>img {
    padding-left: 30px;
}

.left_content {
    height: 300px;
    padding: 75px;
}

.caption_heading {
    /* Body/CaptionHeading (15) */
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 150% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.heading_desktop_h1 {
    /* Headings/Desktop/H1 (48) */
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    font-feature-settings: 'liga'off;
    /* Dark/Default */
    color: #454545;
}


/* Progress Bar */

.shr_progress_bar_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shr_progress_bar_info:not(:last-child) {
    margin-bottom: 1.875rem;
}

.shr_progress_bar_info_action {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    font-feature-settings: 'liga' off;
    /* Dark/Default */
    color: #454545;
}

.shr_progress_bar_info_status {
    /* Body/Paragraph (18)/Regular */
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    text-align: right;
    font-feature-settings: 'liga' off;
    /* Primary/Default */
    color: #296DB3;
}

.shr_progress_bar_icon {
    background: var(--shr_primary_blue_lt3);
    border-radius: 0.5rem;
    width: 100%;
    z-index: 0;
}

.shr_progress_bar_icon_completion {
    background: var(--shr_primary_blue_default);
    border-radius: 0.5rem;
    width: 60%;
    z-index: 1;
    color: white;
}

.shr_progress_bar_icon_completion>span {
    padding: 0 0.525rem;
}

@media(min-width:990px) {
    .shr_progress_bar_close_icon {
        padding-left: 0.225rem;
        cursor: pointer;
    }
}


/* Avatars */

.shr_avatar_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shr_avatar_wrapper>div:not(:first-child) {
    margin-left: 36px;
}

@media(max-width:990px) {
    .shr_avatar_wrapper {
        flex-direction: column;
    }
}

.shr_avatar_size100,
.shr_avatar_size72,
.shr_avatar_size56,
.shr_avatar_size48,
.shr_avatar_size40,
.shr_avatar_size32,
.shr_avatar_size24 {
    border-radius: 50%;
    background-size: contain !important;
}

.shr_avatar_size100 {
    width: 100px;
    height: 100px;
}

.shr_avatar_size72 {
    width: 72px;
    height: 72px;
}

.shr_avatar_size56 {
    width: 56px;
    height: 56px;
}

.shr_avatar_size48 {
    width: 48px;
    height: 48px;
}

.shr_avatar_size40 {
    width: 40px;
    height: 40px;
}

.shr_avatar_size32 {
    width: 32px;
    height: 32px;
}

.shr_avatar_size24 {
    width: 24px;
    height: 24px;
}

.shr_avatar_text {
    background: var(--shr_primary_blue_default);
    text-align: center;
    text-transform: uppercase;
    color: var(--shr_primary_white);
    font-family: Circular Std;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Tabs */

.shr_tabs_horizontal {
    display: flex;
    flex-direction: row;
}

.shr_tabs_horizontal>div {
    color: var(--shr_primary_black_lt1);
    border-bottom: 1px solid var(--shr_primary_blue_lt2);
    padding: 20px;
    cursor: pointer;
}

.shr_tabs_horizontal>.shr_tab_active {
    font-weight: 500;
    color: var(--shr_primary_blue_default);
    border-bottom: 4px solid var(--shr_primary_blue_default);
}

.shr_tabs_vertical {
    display: flex;
    flex-direction: column;
}

.shr_tabs_vertical>div {
    color: var(--shr_primary_black_lt1);
    border-right: 1px solid var(--shr_primary_blue_lt2);
    padding: 20px;
    cursor: pointer;
}

.shr_tabs_vertical>.shr_tab_active {
    font-weight: 500;
    color: var(--shr_primary_blue_default);
    border-right: 4px solid var(--shr_primary_blue_default);
}

.shr_tab_content {
    animation: shr_fadeEffect 1s;
    /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */

@keyframes shr_fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Shadows */

.shr_shadows_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.shr_shadows_wrapper>div {
    background: var(--shr_primary_white);
    color: var(--shr_primary_black_lt1);
    align-items: center;
    justify-content: center;
    height: 5.5125rem;
    line-height: 5.5125rem;
    width: 20%;
    text-align: center;
    border-radius: 0.625rem;
    margin: .25rem 2rem;
}

:root {
    --shr_shadow_card_default: 0px 3px 7px rgba(19, 50, 82, 0.07);
    --shr_shadow_card_spotcard: 0px 15px 65px rgba(19, 50, 82, 0.075);
    --shr_shadow_pricebox_default: 0px 25px 55px rgba(19, 50, 82, 0.3);
    --shr_shadow_modals: 0px 15px 35px rgba(69, 69, 69, 0.15);
    --shr_shadow_card_default2: 0px 6px 12px rgba(19, 50, 82, 0.1);
    --shr_shadow_card_testimonials: 0px 6px 12px rgba(19, 50, 82, 0.1);
    --shr_shadow_card_pricebobx_main: 0px 15px 55px rgba(19, 50, 82, 0.5);
    --shr_shadow_card_cardhero: 0px 15px 45px rgba(19, 50, 82, 0.05);
    --shr_shadow_card_screenshots: 0px 3px 7px rgba(19, 50, 82, 0.07);
    --shr_shadow_card_dropdowns: 0px 6px 12px rgba(19, 50, 82, 0.1);
}

.shr_shadow_card_default {
    box-shadow: var(--shr_shadow_card_default);
}

.shr_shadow_card_spotcard {
    box-shadow: var(--shr_shadow_card_spotcard);
}

.shr_shadow_pricebox_default {
    box-shadow: var(--shr_shadow_pricebox_default);
}

.shr_shadow_modals {
    box-shadow: var(--shr_shadow_modals);
}

.shr_shadow_card_default2 {
    box-shadow: var(--shr_shadow_card_default2);
}

.shr_shadow_card_testimonials {
    box-shadow: var(--shr_shadow_card_testimonials);
}

.shr_shadow_card_pricebox_main {
    box-shadow: var(--shr_shadow_card_pricebox_main);
}

.shr_shadow_card_cardhero {
    box-shadow: var(--shr_shadow_card_cardhero);
}

.shr_shadow_card_screenshots {
    box-shadow: var(--shr_shadow_card_screenshots);
}

.shr_shadow_card_dropdowns {
    box-shadow: var(--shr_shadow_card_dropdowns);
}


/* Inputs */

.shr_input_wrapper {
    width: 100%;
    display: block;
}

.shr_input_with_label {
    /* White / Default */
    background: var(--shr_primary_white);
    /* Blue / LT2 */
    border: 1px solid var(--shr_primary_blue_lt2);
    border-radius: 5px;
    color: -internal-light-dark(var(--shr_primary_black_default), white);
    padding: 0.469rem 0.938rem;
}

.shr_input_with_label:hover,
.shr_input_with_label:focus,
.shr_input_with_label:active {
    border: 1px solid var(--shr_primary_blue_default);
    background: var(--shr_primary_blue_lt3);
}

.shr_input_with_label.shr_input_error {
    border: 1px solid var(--shr_primary_red_default);
}

.shr_input_error.shr_input_with_label:hover,
.shr_input_error.shr_input_with_label:focus,
.shr_input_error.shr_input_with_label:active {
    border: 1px solid var(--shr_primary_red_dk2) !important;
}

span.shr_input_error {
    color: var(--shr_primary_red_default);
    padding: 0.469rem 0;
}

.shr_input_wrapper>div:nth-child(2)>span:not(.shr_input_error) {
    color: var(--shr_primary_black_lt1)
}

.shr_input_with_label:read-only {
    background: var(--shr_primary_blue_lt3);
}

.shr_input_label {
    margin-bottom: 0.313rem;
}

.shr_fileupload_drag_drop {
    height: 7.5rem;
    align-items: center;
    display: flex;
    border: 1px dashed var(--shr_primary_blue_lt2);
    cursor: pointer;
}

.shr_fileupload_drag_drop>div>span {
    display: block;
    margin-top: 0.438rem;
}

.shr_fileupload_drag_drop>div {
    align-items: center;
    text-align: center;
    width: 100%;
}

.shr_input_button_wrapper {
    display: flex;
    align-content: center;
}

.shr_input_button_wrapper>button {
    margin-left: 0.469rem;
}